Repository microsoft/MixedRealityToolkit, pull requests merged in 2019-02, with the labels that each got.

#204 Update SpectatorViewPlugin solution to target newer opencv libs
  SpectatorViewPlugin/SpectatorViewPlugin/SpectatorViewPlugin/SpectatorViewPlugin.vcxproj
Labels: SpectatorViewPlugin

#205 Update SpectatorViewPlugin README.md
  SpectatorViewPlugin/README.md
Labels: Documentation, SpectatorViewPlugin

#202 Return negative values on errors and fix null pointer crash when deinitializing
  GpuStats/GpuStats/GpuStats.cpp
  GpuStats/GpuStats/UnityNativeRenderingPlugin.def
Labels: GPUStats
