Repository microsoft/MixedRealityToolkit, pull requests merged in 2020-09, with the labels that each got.

#238 Update pipeline yaml to build PlaneFinding
  SpatialMapping/PlaneFinding/PlaneFinding.sln
  SpatialMapping/PlaneFinding/PlaneFinding/PCAHelper.cpp
  SpatialMapping/PlaneFinding/PlaneFinding/PlaneFinding.Editor/PlaneFinding.Editor.vcxproj
  SpatialMapping/PlaneFinding/PlaneFinding/PlaneFinding.UAP/PlaneFinding.UAP.vcxproj
  SpatialMapping/PlaneFinding/PlaneFinding/Util.cpp
  SpatialMapping/PlaneFinding/PlaneFinding/dllmain.cpp
  SpatialMapping/PlaneFinding/Tests/TestApp/PlaneFinding.TestApp.csproj
  SpatialMapping/PlaneFinding/Tests/TestHelpers/Util.cs
  SpatialMapping/PlaneFinding/Tests/UnitTests/PlaneFinding.UnitTests.csproj
  azure-pipelines.yml
Labels: PlaneFinding

#240 Add package.json and packaging step to pipeline
  .gitignore
  SpatialMapping/PlaneFinding/Tests/TestApp/Program.cs
  SpatialMapping/PlaneFinding/Tests/TestHelpers/UnityEngineTypes.cs
  SpatialMapping/PlaneFinding/Tests/TestHelpers/Util.cs
  SpatialMapping/PlaneFinding/Tests/UnitTests/TestCases.cs
  SpatialMapping/PlaneFinding/UnityAddon/Microsoft.MixedReality.Toolkit.PlaneFinding.asmdef
  SpatialMapping/PlaneFinding/UnityAddon/Microsoft.MixedReality.Toolkit.PlaneFinding.asmdef.meta
  SpatialMapping/PlaneFinding/UnityAddon/PlaneFinding.cs
  SpatialMapping/PlaneFinding/UnityAddon/PlaneFinding.cs.meta
  SpatialMapping/PlaneFinding/UnityAddon/Plugins.meta
  SpatialMapping/PlaneFinding/UnityAddon/Plugins/uap_ARM.meta
  SpatialMapping/PlaneFinding/UnityAddon/Plugins/uap_ARM/PlaneFinding.dll.meta
  SpatialMapping/PlaneFinding/UnityAddon/Plugins/uap_ARM64.meta
  SpatialMapping/PlaneFinding/UnityAddon/Plugins/uap_ARM64/PlaneFinding.dll.meta
  SpatialMapping/PlaneFinding/UnityAddon/Plugins/uap_x64.meta
  SpatialMapping/PlaneFinding/UnityAddon/Plugins/uap_x64/PlaneFinding.dll.meta
  SpatialMapping/PlaneFinding/UnityAddon/Plugins/uap_x86.meta
  SpatialMapping/PlaneFinding/UnityAddon/Plugins/uap_x86/PlaneFinding.dll.meta
  SpatialMapping/PlaneFinding/UnityAddon/Plugins/x64.meta
  SpatialMapping/PlaneFinding/UnityAddon/Plugins/x64/PlaneFinding.dll.meta
  SpatialMapping/PlaneFinding/UnityAddon/Plugins/x86.meta
  SpatialMapping/PlaneFinding/UnityAddon/Plugins/x86/PlaneFinding.dll.meta
  SpatialMapping/PlaneFinding/UnityAddon/package.json
  SpatialMapping/PlaneFinding/UnityAddon/package.json.meta
  azure-pipelines.yml
Labels: PlaneFinding

#241 Port some changes from the HTK-checked-in version of PlaneFinding (and formatting)
  SpatialMapping/PlaneFinding/Tests/TestHelpers/Util.cs
  SpatialMapping/PlaneFinding/UnityAddon/PlaneFinding.cs
Labels: PlaneFinding

#243 ARM64 build target added for Spatial Understanding library
  SpatialUnderstanding/Src/SpatialUnderstanding.sln
  SpatialUnderstanding/Src/SpatialUnderstanding.vcxproj
  SpatialUnderstanding/Src/TestApp/TestApp.vcxproj
Labels: SpatialUnderstanding

#242 Port HTK scripts for GpuStats and add package.json
  GpuStats/.gitignore
  GpuStats/UnityAddon/GpuStats.cs
  GpuStats/UnityAddon/GpuStats.cs.meta
  GpuStats/UnityAddon/GpuTimingCamera.cs
  GpuStats/UnityAddon/GpuTimingCamera.cs.meta
  GpuStats/UnityAddon/README.md
  GpuStats/UnityAddon/README.md.meta
  GpuStats/UnityAddon/package.json
  GpuStats/UnityAddon/package.json.meta
Labels: GPUStats

#211 ARM64 support for the Sharing and SpatialUnderstanding libraries
  Sharing/BuildSharingLib.bat
  Sharing/Src/External/zint-2.4.3/src/BuildLibs.bat
  Sharing/Src/External/zint-2.4.3/src/win32/libzint.vcxproj
  Sharing/Src/External/zint-2.4.3/src/win32/libzintUAP/libzintUAP.vcxproj
  Sharing/Src/External/zint-2.4.3/src/win32/zint.sln
  Sharing/Src/External/zxing-cpp/src/BuildLibs.bat
  Sharing/Src/External/zxing-cpp/src/Project/libzxing.vcxproj
  Sharing/Src/External/zxing-cpp/src/Project/libzxing_UAP/libzxing_UAP.vcxproj
  Sharing/Src/External/zxing-cpp/src/Project/zxing.sln
  Sharing/Src/Projects/Client/Base/Windows/ClientWindows.vcxproj
  Sharing/Src/Projects/Client/Targets/CSharp/Windows/ClientWindowsCSharp.vcxproj
  Sharing/Src/Projects/Client/Targets/Java/Windows/ClientWindowsJava.vcxproj
  Sharing/Src/Projects/Client/Wrappers/CSharp/CSharpWrapperAPI.vcxproj
  Sharing/Src/Projects/Client/Wrappers/Java/JavaWrapperAPI.vcxproj
  Sharing/Src/Projects/ClientUniversal/ClientUniversal.vcxproj
  Sharing/Src/Projects/ClientUniversalCSharp/ClientUniversalCSharp.vcxproj
  Sharing/Src/Projects/CommonDesktop.Tests/CommonDesktop.Tests.vcxproj
  Sharing/Src/Projects/CommonDesktop/CommonDesktop.vcxproj
  Sharing/Src/Projects/CommonUniversal/CommonUniversal.vcxproj
  Sharing/Src/Projects/JavaTestApp/JavaTestApp.vcxproj
  Sharing/Src/Projects/ProfilerWindows/ProfilerWindows.vcxproj
  Sharing/Src/Projects/ProfilerWindowsCSharp/ProfilerWindowsCSharp.vcxproj
  Sharing/Src/Projects/ProfilerWrapperCSharp/ProfilerWrapperCSharp.vcxproj
  Sharing/Src/Projects/SessionServer/SessionServer.vcxproj
  Sharing/Src/Projects/SharingService/SharingService.vcxproj
  Sharing/Src/Projects/SideCar.Test/SideCar.Test.vcxproj
  Sharing/Src/Projects/SideCarAPI/SideCarAPI.vcxproj
  Sharing/Src/Solutions/VisualStudio/MixedRealityToolkit.Sharing.sln
  Sharing/Src/Source/Common/Private/json/compat/windows_compat.h
  Sharing/Src/Source/Common/Public/Environment.h
Labels: Sharing, SpatialUnderstanding

#245 Add ARM64 to GpuStats
  GpuStats/GpuStats.sln
  GpuStats/GpuStats/GpuStats.vcxproj
  GpuStats/GpuStatsUniversal/GpuStatsUniversal.vcxproj
Labels: GPUStats

#248 Add versioning metadata to GpuStats
  GpuStats/GpuStats/GpuStats.rc
  GpuStats/GpuStats/GpuStats.vcxproj
  GpuStats/GpuStats/resource.h
  GpuStats/GpuStatsUniversal/GpuStatsUniversal.vcxproj
  GpuStats/GpuStatsUniversal/GpuStatsUniversal.vcxproj.filters
Labels: GPUStats

#250 Update scripts for GPUStats and update version to 1.0.0 (no preview)
  CI/pack.yml
  CI/pipeline.yml
  CI/sign.yml
  GpuStats/UnityAddon/GpuDurationResult.cs
  GpuStats/UnityAddon/GpuDurationResult.cs.meta
  GpuStats/UnityAddon/GpuStats.cs
  GpuStats/UnityAddon/GpuTimingCamera.cs
  GpuStats/UnityAddon/package.json
Labels: GPUStats

#251 Gpu timing camera event
  GpuStats/UnityAddon/GpuStats.cs
  GpuStats/UnityAddon/GpuTimingCamera.cs
Labels: GPUStats
